$border-radius: 30px;
$svg-width: 120px;
$animation-duration: 1s;
$animation-delay: 0.35s;

$stroke-dasharray: 1000;
$stroke-dashoffset-start: 1000;
$stroke-dashoffset-end: 0;
$stroke-dashoffset-check-start: -100;
$stroke-dashoffset-check-end: 900;

#statusSuccessModal .modal-content,
#statusErrorsModal .modal-content {
    border-radius: $border-radius;
}

#statusSuccessModal .modal-content svg,
#statusErrorsModal .modal-content svg {
    width: $svg-width;
    display: block;
    margin: 0 auto;
}

#statusSuccessModal .modal-content .path,
#statusErrorsModal .modal-content .path {
    stroke-dasharray: $stroke-dasharray;
    stroke-dashoffset: $stroke-dashoffset-end;
}

#statusSuccessModal .modal-content .path.circle,
#statusErrorsModal .modal-content .path.circle {
    -webkit-animation: dash $animation-duration ease-in-out;
    animation: dash $animation-duration ease-in-out;
}

#statusSuccessModal .modal-content .path.line,
#statusErrorsModal .modal-content .path.line {
    stroke-dashoffset: $stroke-dashoffset-start;
    -webkit-animation: dash $animation-duration $animation-delay ease-in-out
        forwards;
    animation: dash $animation-duration $animation-delay ease-in-out forwards;
}

#statusSuccessModal .modal-content .path.check,
#statusErrorsModal .modal-content .path.check {
    stroke-dashoffset: $stroke-dashoffset-check-start;
    -webkit-animation: dash-check $animation-duration $animation-delay
        ease-in-out forwards;
    animation: dash-check $animation-duration $animation-delay ease-in-out
        forwards;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: $stroke-dashoffset-start;
    }
    100% {
        stroke-dashoffset: $stroke-dashoffset-end;
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: $stroke-dashoffset-start;
    }
    100% {
        stroke-dashoffset: $stroke-dashoffset-end;
    }
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: $stroke-dashoffset-check-start;
    }
    100% {
        stroke-dashoffset: $stroke-dashoffset-check-end;
    }
}
@keyframes dash-check {
    0% {
        stroke-dashoffset: $stroke-dashoffset-check-start;
    }
    100% {
        stroke-dashoffset: $stroke-dashoffset-check-end;
    }
}
