.chat-input button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}

.sidebar {
    width: 250px;
    background-color: #2f3136;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.sidebar h2 {
    padding: 16px;
    font-size: 20px;
    border-bottom: 1px solid #202225;
}

.main-content {
    margin-left: 250px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar li {
    margin-bottom: 8px;
}

.sidebar .btn-channel {
    background: none;
    color: #b9bbbe;
    border: none;
    width: 100%;
    text-align: left;
    padding: 8px 16px;
    cursor: pointer;
}

.sidebar .btn-channel:hover {
    background-color: #6c757d !important;
    color: #fff;
}

.sidebar .btn-channel.selected {
    background-color: #6c757d;
    color: #fff;
}

.sidebar .btn-create-channel {
    background-color: #2f3136;
    color: #b9bbbe;
}

.sidebar .btn-create-channel:hover {
    background-color: #6c757d;
}

.message-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.message-content {
    margin-top: 4px;
}

.message-username {
    font-weight: 500;
    color: #fff;
    margin-right: 8px;
}

.message-timestamp {
    color: #72767d;
    font-size: 12px;
}

.channel-header {
    background-color: #36393f;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    left: 250px;
    /* Ancho del sidebar */
    right: 0;
    z-index: 1000;
}

.channel-title {
    font-size: 16px;
    font-weight: 500;
}

.channel-description {
    font-size: 15px;
    color: #9da2ac;
}
